.card-holder {
  position: static;
}

.my-swiper {
  cursor: zoom-in;
  position: relative;
  aspect-ratio: 16/9;
}

.swiper-zoom-container {
  height: 100%;
}

.swiper-slide-zoomed {
  touch-action: none;
  cursor: move;
}

.my-swiper-thumps {
  cursor: pointer;
  aspect-ratio: 24/4;
  margin-top: 0.5rem;

  .slide {
    opacity: 0.4;
  }

  .active-thumb {
    opacity: 1;
  }
}


