.magnified-view-modal {
  position: relative;
  width: 95%;
  height: 95%;
}

.close-button {
  position: absolute;
  z-index: 10;
  top: 1rem;
  right: 1rem;

  font-size: 1.125rem /* 18px */
;
  line-height: 1.75rem /* 28px */
;
}

.my-swiper {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
}

.swiper-zoom-container {
  position: relative;
  height: 100%;
}

.swiper-slide-zoomed {
  touch-action: none;
  cursor: move;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--main-color);

}

